---
sg_list:
  - "security-group-to-apply-to-instance-1"
  - "security-group-to-apply-to-instance-1"
region: us-east-1
load_balancers:
  - load-balancer-name
vpc_subnets:
  - subnet-id-to-launch-instances-in
asg_name: name-for-asg
instance_iam_profile: profile-arn
instance_ssh_key: key-name
